body{
    background-color: #cce3f0;
  }
  
  /*----------------Za okvir--------------*/
  fieldset {
      display: block;
      margin: 20px 1%;
      margin-bottom: 20px;
      padding: 15px 0px;
      border: 0;
      border: 3px solid #000;
      border-color: #43578f;
      width: 98%;
      background:#cce3f0;
      color:black;
    }
    
  fieldset:last-of-type {
      margin-bottom: 0px;
    }
    
  legend {
      display: table; 
      min-width: 0px;
      max-width: 70%;
      position: relative;
      margin: auto;
      padding: 5px 20px;
      color: #000;
      font-size: 20px;
      text-align: center;
  }
    
  fieldset div{
      margin:0 auto;
      text-align:center;
      width:50%;
      font-size: 12px;
  }
  
  h1{
      max-width: 100%;
      margin: 60px auto;
  }
  
  /*----------------Za okvir--------------*/
  
  .aktivnosti{
      display: flex;
      width: 80%;
      margin: 0 auto;
  }
  
  .prethodnaAktivnost{
      height: 400px;
      border-radius: 40px;
      max-width: 50%;
  
      margin-top: 120px;
      text-align: center;
  }
  
  .trenutnaAktivnost{
      height: 500px;
      border-radius: 20px;
      max-width: 50%;
      text-align: center;
  }
  
  .sljedecaAktivnost{
      height: 400px;
      border-radius: 40px;
      max-width: 50%;
  
      margin-top: 120px;
      text-align: center;
  }