@media only screen and (max-width: 600px) {

    legend{
        font-size: 15px;
    }

    fieldset div{
        margin: -50px auto;
        width: 100%;
    }

    h1{
        font-size: 15px;
        margin-bottom: 30px;
    }

    .aktivnosti{
        display: inline;
    }

    .prethodnaAktivnost{
        display: none;
    }

    .trenutnaAktivnost{
        margin: auto;
        height: 250px;
        text-align: center;
        max-width: 250px;
    }

    .sljedecaAktivnost{
        margin: 30px auto;
        height: 230px;
        text-align: center;
        max-width: 200px;
    }

    

    

}