/*------------------------------
            Header
------------------------------*/

header {
    width: 100%;
    background-color: #000147;
    color: #e5ebf8;
    margin: 10px auto;
    
}

.heading-div {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.heading-div a {
    color: #e5ebf8;
    font-size: 21px; 
    text-decoration: none;
    padding: 10px;
}

.heading-div a:hover {
    color: bisque;
}

/*------------------------------
            Header
------------------------------*/