@media only screen and (max-width: 600px) {

    input{
        display: block;

    }

    select{
        display: block;
    }

    label{
        padding-bottom: 10px;
    }

    form div {
        padding-bottom: 40px;
        text-align: center;
    }

    


}