label{
    display: inline-block;
    width: 160px;
}

input{
    width: 160px;
    height: 10px;
    margin: 0 auto;
}

select{
    width: 180px;
    margin: 0 auto;
}

form{
    margin: 0px auto;
    max-width: 400px;
}

form div{
    padding: 10px;
}