table{
    border-collapse: collapse;
    margin: 0px auto;
    width: 50%;
}

tr, td{
    border: 1px solid black; 
    padding: 10px;
    text-align: center;
}

td{
    width: 50%;
}

tr:hover{
    border: 2px solid black;
}