@media only screen and (max-width: 600px) {
    
    table{
        width: 80%;
    }

    td{
        display: block;
        width: 50%;
        margin: 0 auto;
        border: 1px solid black;
        padding-top: 40px;

        max-width: 160px;
        min-width: 160px;
    }

    tr:nth-of-type(2) > td:nth-of-type(5), tr:nth-of-type(3) > td:nth-of-type(13){
        border: 1px solid black;
    }

    tr:nth-of-type(2) > td:nth-of-type(1), tr:nth-of-type(3) > td:nth-of-type(1), tr:nth-of-type(4) > td:nth-of-type(1), tr:nth-of-type(5) > td:nth-of-type(1),
    tr:nth-of-type(6) > td:nth-of-type(1){
        border: none;
        text-align: center;
        max-height: 180px;
    }


    /*Prvi red*/
    tr:nth-of-type(2) > td:nth-of-type(2), tr:nth-of-type(2) > td:nth-of-type(3), tr:nth-of-type(2) > td:nth-of-type(6), tr:nth-of-type(2) > td:nth-of-type(8),
    tr:nth-of-type(2) > td:nth-of-type(9), tr:nth-of-type(2) > td:nth-of-type(10), tr:nth-of-type(2) > td:nth-of-type(11), tr:nth-of-type(2) > td:nth-of-type(12),
    tr:nth-of-type(2) > td:nth-of-type(13), tr:nth-of-type(2) > td:nth-of-type(14), tr:nth-of-type(2) > td:nth-of-type(15) {
        display: none;
    }
    /*Prvi red*/

    /*Drugi red*/
    tr:nth-of-type(3) > td:nth-of-type(2), tr:nth-of-type(3) > td:nth-of-type(3), tr:nth-of-type(3) > td:nth-of-type(4), tr:nth-of-type(3) > td:nth-of-type(5),
    tr:nth-of-type(3) > td:nth-of-type(6), tr:nth-of-type(3) > td:nth-of-type(7), tr:nth-of-type(3) > td:nth-of-type(8), tr:nth-of-type(3) > td:nth-of-type(9),
    tr:nth-of-type(3) > td:nth-of-type(10), tr:nth-of-type(3) > td:nth-of-type(14), tr:nth-of-type(3) > td:nth-of-type(15), tr:nth-of-type(3) > td:nth-of-type(16), 
    tr:nth-of-type(3) > td:nth-of-type(17), tr:nth-of-type(3) > td:nth-of-type(18){
        display: none;
    }
    /*Drugi red*/

    /*Treci red*/
    tr:nth-of-type(4) > td:nth-of-type(2), tr:nth-of-type(4) > td:nth-of-type(3), tr:nth-of-type(4) > td:nth-of-type(4), tr:nth-of-type(4) > td:nth-of-type(5),
    tr:nth-of-type(4) > td:nth-of-type(6), tr:nth-of-type(4) > td:nth-of-type(7), tr:nth-of-type(4) > td:nth-of-type(8), tr:nth-of-type(4) > td:nth-of-type(9),
    tr:nth-of-type(4) > td:nth-of-type(11), tr:nth-of-type(4) > td:nth-of-type(12), tr:nth-of-type(4) > td:nth-of-type(13), tr:nth-of-type(4) > td:nth-of-type(14),
    tr:nth-of-type(4) > td:nth-of-type(15), tr:nth-of-type(4) > td:nth-of-type(16), tr:nth-of-type(4) > td:nth-of-type(17), tr:nth-of-type(4) > td:nth-of-type(18){
        display: none;
    }
    /*Treci red*/


    /*Cetvrti red*/
    tr:nth-of-type(5) > td:nth-of-type(2), tr:nth-of-type(5) > td:nth-of-type(3), tr:nth-of-type(5) > td:nth-of-type(4), tr:nth-of-type(5) > td:nth-of-type(5),
    tr:nth-of-type(5) > td:nth-of-type(6), tr:nth-of-type(5) > td:nth-of-type(7), tr:nth-of-type(5) > td:nth-of-type(8), tr:nth-of-type(5) > td:nth-of-type(9),
    tr:nth-of-type(5) > td:nth-of-type(10), tr:nth-of-type(5) > td:nth-of-type(11), tr:nth-of-type(5) > td:nth-of-type(12), tr:nth-of-type(5) > td:nth-of-type(13),
    tr:nth-of-type(5) > td:nth-of-type(14), tr:nth-of-type(5) > td:nth-of-type(15), tr:nth-of-type(5) > td:nth-of-type(16), tr:nth-of-type(5) > td:nth-of-type(17),
    tr:nth-of-type(5) > td:nth-of-type(18), tr:nth-of-type(5) > td:nth-of-type(19), tr:nth-of-type(5) > td:nth-of-type(20), tr:nth-of-type(5) > td:nth-of-type(21),
    tr:nth-of-type(5) > td:nth-of-type(22),tr:nth-of-type(5) > td:nth-of-type(23), tr:nth-of-type(5) > td:nth-of-type(24), tr:nth-of-type(5) > td:nth-of-type(25),
    tr:nth-of-type(5) > td:nth-of-type(26),tr:nth-of-type(5) > td:nth-of-type(27){
        display: none;
    }
    /*Cetvrti red*/

    /*Peti red*/
    tr:nth-of-type(6) > td:nth-of-type(2), tr:nth-of-type(6) > td:nth-of-type(3), tr:nth-of-type(6) > td:nth-of-type(4), tr:nth-of-type(6) > td:nth-of-type(5),
    tr:nth-of-type(6) > td:nth-of-type(6), tr:nth-of-type(6) > td:nth-of-type(7), tr:nth-of-type(6) > td:nth-of-type(8), tr:nth-of-type(6) > td:nth-of-type(9),
    tr:nth-of-type(6) > td:nth-of-type(10), tr:nth-of-type(6) > td:nth-of-type(11), tr:nth-of-type(6) > td:nth-of-type(12), tr:nth-of-type(6) > td:nth-of-type(13),
    tr:nth-of-type(6) > td:nth-of-type(14), tr:nth-of-type(6) > td:nth-of-type(15), tr:nth-of-type(6) > td:nth-of-type(16), tr:nth-of-type(6) > td:nth-of-type(17),
    tr:nth-of-type(6) > td:nth-of-type(18), tr:nth-of-type(6) > td:nth-of-type(19), tr:nth-of-type(6) > td:nth-of-type(20), tr:nth-of-type(6) > td:nth-of-type(21),
    tr:nth-of-type(6) > td:nth-of-type(22),tr:nth-of-type(6) > td:nth-of-type(23), tr:nth-of-type(6) > td:nth-of-type(24), tr:nth-of-type(6) > td:nth-of-type(25),
    tr:nth-of-type(6) > td:nth-of-type(26),tr:nth-of-type(6) > td:nth-of-type(27){
        display: none;
    }
    /*Peti red*/

    .sati{
        display: none;
    }


  }