table{
    width: 80%;
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;
}


td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    border-left: 1px dashed black;

    max-width: 60px;
    min-width: 60px;
    box-sizing: border-box;

    height: 100px;
    padding: 5px;
    background-color: #cfcfcf;
}


td:nth-of-type(1){
    border: none;
    text-align: right;
    padding-right: 10px;
    background-color: white;

    max-width: 160px;
    min-width: 160px;

}

.fax{
    background-color: #bfedf5;
}

/*-----Prvi red--------*/
tr:nth-of-type(2) > td:nth-of-type(odd), tr:nth-of-type(2) > td:nth-of-type(6){
    border-right: 1px solid black;
}

tr:nth-of-type(2) > td:nth-of-type(5){
    border-left: 1px solid black;
    border-right: 1px dashed black;
}
/*-----Prvi red--------*/

/*-----Drugi red--------*/

tr:nth-of-type(3) > td:nth-of-type(odd), tr:nth-of-type(3) > td:nth-last-of-type(1){
    border-right: 1px solid black;
}

tr:nth-of-type(3) > td:nth-of-type(13){
    border-right: 1px dashed black;
}

tr:nth-of-type(3) > td:nth-of-type(15), tr:nth-of-type(3) > td:nth-of-type(17){
    border-left: 1px solid black;
    border-right: 1px dashed black;
}

/*-----Drugi red--------*/

/*-----Treći red--------*/

tr:nth-of-type(4) > td:nth-of-type(odd), tr:nth-of-type(4) > td:nth-of-type(10){
    border-right: 1px solid black;
}

/*-----Treći red--------*/



.cetvrtakPetak td:nth-of-type(odd){
    border-right: 1px solid black;
}

.sati td{
    border: none;
    background-color: white;
    text-align: left;
}

.sati p{
    margin-bottom: 0px;
    margin-left: -30px;
}