table{
    border-collapse: collapse;
    margin: 0px auto;
    text-align: center;
    width: 80%;
}


td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px dashed black;
    border-left: 1px dashed black;

    width: 30px;

    text-align: center;
    height: 100px;
    padding: 5px;
    background-color: #cfcfcf;
}

td:nth-of-type(1){
    border: none;
    text-align: right;
    padding-right: 10px;
    background-color: white;
}

td:nth-of-type(2){
    border-left: 1px solid black;;
}

td:nth-last-of-type(1){
    border-right: 1px solid black;
}


/*td:nth-of-type(even){
    border-left: 1px solid black;
}*/

#sat {
    margin-left: -60px;
}

#fax {
    background-color: #bfedf5;
}