@media only screen and (max-width: 600px) {

    .noShow, .sati{
        display: none;
    }

    td{
        display: block;
        margin: 0 auto;
        width: 100px;
    }

    td:nth-of-type(1){
        text-align: center;
    }

    td p{
        margin-top: 30px;
    }

    #fax{
        border: 1px solid black;
    }

    .dan{
        margin-top: 50px;
    }

  }