input, select {
    margin: 0px auto;
    display: block;
    height: 20px;

    margin-bottom: 20px;
}

label{
    text-align: center;
    margin-top: 20px;
}

div{
    text-align: center;
}

select {
    width: 180px;
    height: 30px;
}
